:root {
    --main_background: #16202c;
    --main_objects: #5022ba;
    --main-objects_dark: #321082;
    --main_text: #ffffff;
    --main_article_background: #364f6b;
    --main_article_profile: #47688d;
    --main_article_border: #3b5674;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: JetBrains;
    src: url(Database/Fonts/JetBrainsMono[wght].ttf);
}

body {
    background-color: var(--main_background);
}


main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 30px 17px;
    border-radius: 25px;
    gap: 17px;
    transition: 0.7s;
}

img {
    width: 70dvh;
}

@media screen and (min-width: 1024px) {
    main {
        height: 100dvh;
    }

    img:hover {
        transform: scale(1.05) rotate(3deg);
        transition: 500ms;
    }
}