:root {
  --main_background: #252B48;
  --main_objects: #F7E987;
  --main_text: #ffffff;
  --main_article_background: #445069;
  --main_article_profile: #5B9A8B;
}

@font-face {
  font-family: DiodrumArabic-Semibold;
  src: url(../Database/Fonts/DiodrumArabic-Semibold.ttf);
}

@font-face {
  font-family: DiodrumArabic-Medium;
  src: url(../Database/Fonts/DiodrumArabic-Medium.ttf);
}

/* Scrollbar settings */
/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f7ea8700;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f7ea8700;
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--main_background);
  background: var(--main_text);
}

::selection {
  color: var(--main_background);
  background: var(--main_text);
}

.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--main_background);
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--main_background);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--main_background);
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

hr {
  opacity: 0.3;
}

#main {
  background-color: rgba(178, 34, 34, 0);
  border-radius: 14px;
}

#logo {
  display: block;
  width: 120px;
  margin: auto;
}

.main_article {
  height: auto;
  background-color: var(--main_article_background);
  margin: 23px 17px;
  padding: 17px;
  border: solid var(--main_objects) 3px;
  border-radius: 30px;
  box-shadow: 0px 5px 17px hsla(0, 0%, 5%, 0.3);
}

.article_avatar {
  display: inline-block;
  height: 50px;
  vertical-align: middle;
  border-radius: 30px;
}

.article_username {
  width: 75px;
  color: var(--main_text);
  display: inline-block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  margin: 1px 0 0 8px;
  vertical-align: middle;
}

.article_fallow {
  color: var(--main_text);
  background-color: var(--main_objects);
  padding: 5px 7px 5px 7px;
  text-align: center;
  vertical-align: middle;
  border-radius: 8px;
  display: inline-block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-large;
  margin: 1px 0 0 17vw;
}

.moit {
  color: var(--main_text);
  background-color: var(--main_article_profile);
  padding: 0 14px;
  margin-top: 12px;
  font-family: DiodrumArabic-Medium;
  line-height: 30px;
  border-radius: 17px;
  border: solid 2px var(--main_background);
  text-align: center;
}

.moit_image {
  width: 100%;
  border-radius: 8px;
}


#load-btn {
  display: block;
  margin: 35px auto;
  padding: 8px 14px;
  font-family: sans-serif;
  font-size: larger;
  color: var(--main_text);
  background-color: var(--main_article_background);
  border-radius: 30px;
  border: solid 1px var(--main_article_profile);
  box-shadow: 0px 0px 14px var(--main_article_profile);
}


#menu {
  position: sticky;
  padding: 20px;
  margin: auto;
  width: 50%;
  border-radius: 30px;
  background-color: var(--main_objects);
  border: 3px solid var(--main_objects);
  bottom: 17px;
  color: var(--main_background);
  font-size: x-large;
  text-align: center;
  box-shadow: 0px 5px 17px hsla(0, 0%, 5%, 0.3);
}

.menu_items {
  margin: 3px 2.2vw;
}

#house {
  opacity: 1;
}

#chat {
  opacity: 0.5;
}

#profile {
  opacity: 0.5;
}


@media only screen and (min-width: 905px) and (min-height: 595px) {
  hr {
    display: none;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  #container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    margin: 0 53px;
  }

  #left_side {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 14px;
    box-shadow: 0px 3px 10px hsla(0, 0%, 5%, 0.3);
    border-radius: 30px;
  }

  #main {
    display: flex;
    width: 100%;
    justify-content: center;
    border-radius: 0;
    background-color: var(--main_objects);
    border-radius: 30px 30px 0 0;
  }

  #menu {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    padding: 0;
    justify-content: space-around;
    flex-grow: 1;
    border-radius: 30px;
    box-shadow: 0px 3px 10px hsla(0, 0%, 5%, 0.3);
    width: 140px;
    transition: 0.3s;
  }

  .menu_items {
    cursor: pointer;
    margin: 0;
    font-size: larger;
    width: fit-content;
    padding: 70px 25px;
    transition: 0.3s;
  }

  .menu_items:hover {
    transform: scale(1.3);
  }

  #main_container {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    border: 3px solid var(--main_objects);
    height: 80vh;
    border-radius: 0 0 30px 30px;
    overflow: hidden;
  }

  #load_container {
    display: flex;
    align-items: center;
    width: 100%;
  }

  #load-btn {
    cursor: pointer;
    display: flex;
    margin: 0;
    width: 100%;
    border-radius: 0;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0 var(--main_article_profile);
    border: 0;
    border-top: var(--main_article_profile) solid 1px;
    transition: 0.3s;
  }

  #load-btn:hover {
    letter-spacing: 3px;
    border-top: var(--main_article_profile) solid 3px;
  }

  #articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: auto;
    height: 100%;
    padding: 0 5px;
  }

  .main_article {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: auto;
    flex-grow: 1;
    transition: 0.3s;
  }

  .main_article:hover {
    transform: scale(1.017);
  }

}