:root {
  --main_background: #252B48;
  --main_objects: #F7E987;
  --main_text: #ffffff;
  --main_article_background: #445069;
  --main_article_profile: #5B9A8B;
}

::-moz-selection { /* Code for Firefox */
  color: var(--main_background);
  background: var(--main_text);
}

::selection {
  color: var(--main_background);
  background: var(--main_text);
}

.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--main_background);
  opacity: 1;
  /* Firefox */
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--main_background);
}

body {
  background-color: var(--main_background);
}

textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

textarea::-webkit-scrollbar-thumb {
  background-color: rgba(169, 169, 169, 0);
  outline: 1px solid rgba(112, 128, 144, 0);
  border-radius: 100px;
}

hr {
  opacity: 0.3;
}

.main_article {
  background-color: var(--main_article_background);
  margin: 30px 17px;
  padding: 30px;
  border: solid var(--main_objects) 3px;
  border-radius: 30px;
}

#username {
  display: block;
  margin: auto;
  width: 140px;
  color: var(--main_text);
  background-color: var(--main_article_profile);
  padding: 8px 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 30px;
  border-radius: 17px;
  border: solid 2px var(--main_article_profile);
  font-size: medium;
  font-weight: bold;
  transition: 0.3s;
}

#username:focus {
  border-radius: 30px;
  border: solid 2px var(--main_background);
  outline: none;
}


.moit {
  display: block;
  margin: 14px auto;
  width: 50vw;
  color: var(--main_text);
  background-color: var(--main_article_profile);
  padding: 17px 23px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  line-height: 30px;
  border-radius: 17px;
  border: solid 2px var(--main_article_profile);
  resize: none;
  transition: .3s;
}

.moit:focus {
  border: var(--main_background) solid 2px;
  outline: none;
  border-radius: 25px;
}


.article_footer {
  float: right;
  margin-top: 7px;
  color: var(--main_background);
  background-color: var(--main_objects);
  font-size: large;
  padding: 10px 17px;
  border-radius: 30px;
  text-align: center;
  border: solid 3px var(--main_objects);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: bold;
}


#menu {
  position: fixed;
  padding: 12px;
  margin: auto;
  border-radius: 50px;
  background-color: var(--main_objects);
  border: 3px solid var(--main_objects);
  bottom: 17px;
  color: var(--main_background);
  font-size: xx-large;
  text-align: center;
}

.menu_items {
  margin: 3px 3px 0 3px;
}