@font-face {
    font-family: Madimi;
    src: url("../Font/MadimiOne-Regular.ttf");
}


body {
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFE9D0;
    background-image: url("../Object/Background.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#redWinLabel {
    visibility: hidden;
    position: absolute;
    justify-self: center;
    align-self: center;
    z-index: 300;
    height: 40%;
}

#blueWinLabel {
    visibility: hidden;
    position: absolute;
    justify-self: center;
    align-self: center;
    z-index: 300;
    height: 40%;
    rotate: 180deg;
}

#countDown {
    height: 40%;
    position: absolute;
    justify-self: center;
    align-self: center;
    z-index: 5;
}

#coin {
    height: 40%;
    display: flex;
    justify-content: center;
    z-index: -100;
}

#coinImage {
    transition: 0.14s;
}

.coinRedCatched {
    transform: translateY(30dvh);
}

.coinBlueCatched {
    transform: translateY(-30dvh);
}

#wrong {
    visibility: hidden;
    height: 40%;
    position: absolute;
    justify-self: center;
    align-self: center;
}

.player {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 13dvh;
}

.button {
    display: flex;
    flex-grow: 1;
    margin: 2dvh;
    align-items: center;
    justify-content: center;
    border: 0.6dvh solid black;
    background-color: #FFB000;
    border-radius: 3dvh;
    z-index: 1;
}

.button:nth-child(1) {
    box-shadow: inset 1dvh 1dvh 0px 0px #FF9D00;
}

.button:nth-child(2) {
    box-shadow: inset -1dvh -1dvh 0px 0px #FF9D00;
}

#red .button div {
    width: -webkit-fill-available;
    height: 80%;
    border-radius: 1.5dvh;
    background-color: #FF4065;
    margin: 2dvh;
    border: 0.6dvh solid #000000;
    box-shadow: inset -1dvh -1dvh 0px 0dvh #CC0027;
    outline: none;
}

#blue .button div {
    width: -webkit-fill-available;
    height: 80%;
    border-radius: 1.5dvh;
    background-color: #40B3FF;
    margin: 2dvh;
    border: 0.6dvh solid #000000;
    box-shadow: inset 1dvh 1dvh 0px 0dvh #007BCC;
    outline: none;
}

#red .hand {
    flex-grow: 1;
    height: 63%;
    position: absolute;
    bottom: 0;
    transform: translateY(30dvh);
    transition: 0.14s;
    pointer-events: none;
    z-index: 3;
}

#blue .hand {
    rotate: 180deg;
    transform: translateY(30dvh);
    flex-grow: 1;
    height: 63%;
    position: absolute;
    top: 0;
    transition: 0.14s;
    pointer-events: none;
    z-index: 3;
}

#red .catch {
    transform: translateY(0);
}

#blue .catch {
    transform: translateY(0);
}


.score {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 2dvh;
    visibility: hidden;
    z-index: -30;
}

.blue.score {
    justify-content: flex-end;
}

h5 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Madimi;
    font-size: 5dvh;
    position: relative;
    left: 3.8dvh;
    top: -2dvh;
}

.blue h5 {
    rotate: 180deg;
    left: -3.8dvh;
    top: 2dvh;
}

.red.bag {
    height: 10.5%;
    rotate: 90deg;
    position: absolute;
    z-index: -1;
}

.blue.bag {
    rotate: -90deg;
    height: 10.5%;
    position: absolute;
    z-index: -1;
}